<!DOCTYPE html>
<html>
  <head>
    <title>Chess Pro - Multiplayer</title>
    <script src="https://use.fontawesome.com/de6c17939b.js"></script>
    <link rel="stylesheet" href="css/chessboard-0.3.0.min.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/chessboard-0.3.0.min.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/chess.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  
  <body>

    <div id="background">
      <div id="board" class="triggered" style="width: 400px"></div>
      <div id="actions">
        <i class="fa fa-3x fa-power-off" aria-hidden="true" onclick="restart();"></i><i class="fa fa-3x fa-handshake-o" onclick="offerDraw();" aria-hidden="true"></i><i class="fa fa-3x fa-flag-o" aria-hidden="true" onclick="resign();"></i><i class="fa fa-3x fa-undo" onclick="takeBack();" aria-hidden="true"></i><i class="fa fa-3x fa-plus" aria-hidden="true" onclick="addPlayer();"></i>
        <div id="methods">
            <div id="restartMethod" style="position: absolute; z-index: 1; display:none">Restart</div>
            <div id="resignMethod" style="position: absolute; z-index: 2; display:none;">Resign</div>
            <div id="undoMethod" style="position: absolute; z-index: 3; display:none;">Undo</div>
            <div id="addPlayerMethod" style="position: absolute; z-index: 3; display:none;">Invite</div>
            <div id="offerDrawMethod" style="position: absolute; z-index: 3; display:none;">Draw</div>
          </div>
        </div>
      </div>
    </div>

    <script>    
    var player = '<%-player%>';
    var lobbyID = '<%-lobbyID%>';
    var moveSignal = 'chess position';
    var drawSignal = 'draw offer';
    var acceptDraw = 'accepting draw';
    var rejectDraw = 'rejecting draw';
    var restartSignal = 'restart offer';
    var acceptRestart = 'accepting restart';
    var rejectRestart = 'rejecting restart';
    var undoSignal = 'undo offer';
    var acceptUndo = 'accepting undo';
    var rejectUndo = 'rejecting undo';
    var resignSignal = 'player resigned';

    var enemy;
    if (player === 'w')
      enemy = 'b';
    else if (player === 'b')
      enemy = 'w';

    var isSpectating = function(player)
    {
      return (player !== 'b' && player !== 'w')
    }

    if (isSpectating(player))
    {
      $(".fa-3x:not(.fa-plus)").removeAttr("onclick");
    }

    $(".fa-undo").mouseenter(function() {
      $("#undoMethod").show();
    }).mouseleave(function() {
      $("#undoMethod").hide();
    });

    $(".fa-power-off").mouseenter(function() {
      $("#restartMethod").show();
    }).mouseleave(function() {
      $("#restartMethod").hide();
    });

    $(".fa-flag-o").mouseenter(function() {
      $("#resignMethod").show();
    }).mouseleave(function() {
      $("#resignMethod").hide();
    });

    $(".fa-handshake-o").mouseenter(function() {
      $("#offerDrawMethod").show();
    }).mouseleave(function() {
      $("#offerDrawMethod").hide();
    });

    $(".fa-plus").mouseenter(function() {
      $("#addPlayerMethod").show();
    }).mouseleave(function() {
      $("#addPlayerMethod").hide();
    });

    var hasResigned = false;
    var socket = io();

    var board, game = new Chess();

    var addPlayer = function() {
      var addPlayerString = "To play a friend, send them this URL:";
      if (!isSpectating(player))
        prompt(addPlayerString, window.location.href.replace('player=' + player, 'player=' + enemy));
      else
      {
        addPlayerString = "To add a spectator, send them this URL:";
        prompt(addPlayerString, window.location.href.replace('player=' + player, 'player=spectator'));
      }
    }

    socket.emit('request position', {lobbyID: lobbyID, player: player});

    socket.on('load position', function (msgData) {
      if (msgData.lobbyID !== lobbyID || msgData.player !== player)
        return;
      var pgn = msgData.pgn;
      if (pgn)
      {
        game.load_pgn(pgn);
        board.position(game.fen());
      }
    });

    var onDragStart = function(source, piece, position, orientation) {
      if (game.in_checkmate() === true || game.in_draw() === true || piece.search(enemy) !== -1 ||hasResigned)
        return false;
    };

    var onDrop = function(source, target) {
      // see if the move is legal
      var move = game.move({
        from: source,
        to: target,
        promotion: 'q' // NOTE: always promote to a queen for example simplicity
      });

      // illegal move
      if (move === null) return 'snapback';
    };

    // now that we have moved in game.move, let's update our position on the snap end
    var onSnapEnd = function() {
      socket.emit(moveSignal, {pgn: game.pgn(), lobbyID: lobbyID});
      socket.emit('decline all', {lobbyID: lobbyID, player: player});
      checkForGameEnd();  
    };

    var checkForGameEnd = function (){
      var alertString;
      if (game.in_checkmate())
        alertString = "Checkmate!";
      else if (game.in_draw())
        alertString = "Draw!";
      else if (game.in_stalemate())
        alertString = "Stalemate!";
      else if (game.in_threefold_repetition())
        alertString = "Threefold repetition!";
      else if (game.insufficient_material())
        alertString = "Draw by insufficient material!";

      if (alertString)
        socket.emit('broadcast alert', {lobbyID: lobbyID, alertString: alertString})
    }

    socket.on('broadcast alert', function(msgData) {
      if (lobbyID !== lobbyID)
        return;
      alert(msgData.alertString);
    });

    socket.on('decline all', function(msgData) {
      if (msgData.lobbyID !== lobbyID)
        return;
      if (!isSpectating(player))
      {
        $(".fa-power-off").attr("onclick","restart();");
        $(".fa-handshake-o").attr("onclick","offerDraw();");
        $(".fa-undo").attr("onclick","takeBack();");
      }
      $(".fa-3x").removeAttr('style');
    });

    var takeBack = function () {
      if (!hasResigned)
      {
        $(".fa-undo").css("background-color", "yellow");
        socket.emit('accept undo?', {lobbyID: lobbyID, player: player});
      }
    }

    socket.on('accept undo?', function(msgData) {
      if (msgData.lobbyID !== lobbyID || msgData.player === player)
        return;
      $(".fa-undo").css("background-color", "yellow");
      if (!isSpectating(player))
      {
        $(".fa-undo").attr("onclick","undoAccepted();");
      }
    });

    var undoAccepted = function() {
      socket.emit('undo accepted', {lobbyID: lobbyID});
    }

    socket.on('undo accepted', function (msgData) {
      if (msgData.lobbyID !== lobbyID)
        return;
      game.undo();
      board.position(game.fen());
      $(".fa-undo").removeAttr('style');
      if (!isSpectating(player))
      {
        $(".fa-undo").attr("onclick","takeBack();");
      }
    });

    var cfg = {
      draggable: true,
      position: 'start',
      onDragStart: onDragStart,
      onDrop: onDrop,
      onSnapEnd: onSnapEnd
    };

    socket.on(moveSignal, function(msgData) {
      if (msgData.lobbyID !== lobbyID)
        return;
      var pgn = msgData.pgn;
      game.load_pgn(pgn);
      board.position(game.fen());
    });


    socket.on(resignSignal, function(msgData) {
      if (msgData.lobbyID !== lobbyID || msgData.player === player)
        return;
      hasResigned = true;
      var resigningPlayer = msgData.player;
      var winningPlayer;
      if (resigningPlayer === 'w')
      {
        resigningPlayer = "White";
        winningPlayer = "black";
      }
      else
      {
        resigningPlayer = "Black";
        winningPlayer = "white";
      }
      var resignString = resigningPlayer + " has resigned - " + winningPlayer + " wins!";
      alert(resignString);
    });

    socket.on('accept restart?', function(msgData) {
      if (msgData.lobbyID !== lobbyID || msgData.player === player)
        return;
      $(".fa-power-off").css("background-color", "yellow");
      if (!isSpectating(player))
      {
        $(".fa-power-off").attr("onclick","restartAccepted();");
      }
    });

    socket.on('accept draw?', function(msgData) {
      if (msgData.lobbyID !== lobbyID || msgData.player === player)
        return;
      $(".fa-handshake-o").css("background-color", "yellow");
      if (!isSpectating(player))
      {
        $(".fa-handshake-o").attr("onclick","drawAccepted();");
      }
    });

    var restartAccepted = function() {
      socket.emit('restart accepted', {lobbyID: lobbyID});
    }

    var drawAccepted = function () {
      socket.emit('draw accepted', {lobbyID: lobbyID});
    }

    socket.on('draw accepted', function (msgData) {
      if (msgData.lobbyID !== lobbyID || hasResigned === true)
        return;
      $(".fa-handshake-o").removeAttr('style');
      hasResigned = true;
      alert("Draw!");
    });

    socket.on('restart accepted', function (msgData) {
      if (msgData.lobbyID !== lobbyID)
        return
      $(".fa-power-off").removeAttr('style');
      hasResigned = false;
      game = new Chess();
      board.position(game.fen());
      if (!isSpectating(player))
      {
        $(".fa-power-off").attr("onclick","restart();");
        $(".fa-handshake-o").attr("onclick","offerDraw();");
        $(".fa-undo").attr("onclick","takeBack();");
      }
    });

    if (player === 'b')
      cfg["orientation"] = "black";

    board = ChessBoard('board', cfg);

    var restart = function() {
      $(".fa-power-off").css("background-color", "yellow");
      socket.emit(restartSignal, {lobbyID: lobbyID, player: player});
    }

    var offerDraw = function() {
      if (!hasResigned)
      {
        $(".fa-handshake-o").css("background-color", "yellow");
        socket.emit(drawSignal, {lobbyID: lobbyID, player: player});
      }
    }

    var resign = function() {
      if (!hasResigned)
      {
        socket.emit(resignSignal, {lobbyID: lobbyID, player: player});
        hasResigned = true;
        var resigningPlayer, winningPlayer;
        if (player === 'w')
        {
          resigningPlayer = "White";
          winningPlayer = "black";
        }
        else
        {
          resigningPlayer = "Black";
          winningPlayer = "white"
        }
        var resignString = resigningPlayer + " has resigned - " + winningPlayer + " wins!";
        socket.emit('decline all', {lobbyID: lobbyID, player: player});
        alert(resignString);
      }
    }

    </script>
    <style type="text/css">
    #background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 0;
      background-color: #00ccff;
    }

    .fa-3x {
      background-color: #0099ff;
      padding: 4px 4px 4px 4px;
      margin: 0px 0px 0px 0px;
      display: inline-block;
    }
    
    .fa-3x:hover { 
      background-color: yellow;
      border-color: #006699;
    }

    #board {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -200px;
      margin-left: -200px;
    }

    #actions {
      position: absolute;
      margin-top: 210px;
      margin-left: -135px;
      top: 50%;
      left: 50%;
    }

    #methods {
      position: relative;
      transform: translateX(50%);
      margin-left: -45px;
    }
    </style>
  </body>
</html>